*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #262C27;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background-image: url(../images/boath.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    background-image: url(../images/Vectortree.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 356px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(50%);
    z-index: 2;
}
.header::after{
    content: "";
    position: absolute;
    background-image: url(../images/Vectortree.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 356px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(80%) rotate(180deg);
    z-index: 3;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
    padding: 57px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}
.logo path {
    transition: fill .3s ease;
}
.logo:hover path {
    fill: #0093A1;
}
.header-btn {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    color: #fff;
    background-color: #262C27;
    border: none;
    cursor: pointer;
    padding: 12px 71px;
}
.header-content {
    min-height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.header-content-box {
    max-width: 550px;
    text-align: center;
    
    color: #fff; 
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
  
}
.header-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 71px;
}
.header-text {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
}
.header-decor-text {
    position: absolute;
    bottom: 10px;
    color: #0093A1;
}
 .one {
    z-index: 1;
    right: 145px;
    bottom: 0px;
}
 .one,
 .two {
    
    font-size: 130px;
    line-height: 145px;
    font-family: 'Comfortaa', cursive;
    opacity: 0.3;
}
 .two {
    z-index: 4;
    left: 265px;
    bottom: -150px;
}
 .three {
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    font-style: italic;
    text-align: center;
    bottom: -130px;
}
.info {
    background-image: url(../images/bgboat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.info::before {
    content: "";
    position: absolute;
    height: 120px;
    background-color: #262C27;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    z-index: 1;
}
.info-top {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    margin-bottom: 45vh;
    
}
.info-top-text {
    padding-top: 245px;
    width: 290px;
    color: #fff;
    position: relative;
}
.itt {
    border-bottom: 1px solid #fff;
}
.info-top-img {
    position: relative;
    z-index: 6;
    height: 700px;
    padding-top: 120px;
}
.popup-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
}
.popup-btn p {
    padding-top: 12px;
    display: block;
    color: #fff;
}
.info-btn {
    
    bottom: 0;
    right: 0;
}
.info-specs {
    display: flex;
    align-items: center;
    gap: 130px;
    color: #fff;
    padding-bottom: 50px;
}
.info-specs-title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 67px;
    font-family: 'Comfortaa', cursive;
    width: 250px;
}
.info-specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    font-weight: 700;
}
.info-specs-item {
    margin-bottom: 15px;
    
    display: flex;
    justify-content: space-between;
}
.info-specs-caption {
    width: 190px;
}
 .buy {
    padding: 150px 0 0;
  }
  .buy-inner {
    display: flex;
    align-items: center;
    gap: 200px;
  }
  .buy-content {
    width: 510px;
  } 
  .buy-title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 67px;
    color: #0093A1;
    font-family: 'Comfortaa', cursive; 
  } 
  .buy-list {
    margin-bottom: 25px;
    position: relative;
  }
  .buy-item {
    margin-bottom: 25px;
    width: 285px;
  }
  .buy-item:hover .buy-item-title {
    color: #0093A1;

  }
  .buy-item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: color .3s;
  } 
  .buy-price {
    position: absolute;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Star.svg);
    right: 0;
    bottom: 0;

  }
  .buy-btn {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    background-color: transparent;
    border: 2px solid #0093A1;
    color: #0093A1; 
    cursor: pointer;
    max-width: 484px;
    width: 100%;
    padding: 5px 0;
    transition: all .3s;
  } 
  .buy-btn:hover {
    background-color: #B9C400;
    border-color: #B9C400;
    color: #262C27;
  }
  
  .buy-img {
    height: 500px;
  }
  .technology {
    margin-bottom: 150px;
  }
  .technology-top {
    background-image: url(../images/Group\ 20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .technology-top-inner {
    position: relative;
    min-height: 150vh;
  }
  .technology-btn {
    right: 350px;
    top: 50vh;
  }
  .technology-top-box {
    position: absolute;
    left: 0;
    bottom: 85px;
  }

   
